@keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}
[data-fulltitle],[data-avatar]{
	animation-duration: 0.001s;
  	animation-name: nodeInserted;	
}
[data-avatar]{
  &:before{}
  img{}
}
